<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>笔记管理</title>
    <script type="module" crossorigin src="/assets/menu-list-DUX1bW3F.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/global-CgE7rved.js">
    <link rel="modulepreload" crossorigin href="/assets/vendor-CbHUjBlO.js">
    <link rel="stylesheet" crossorigin href="/assets/global-CZB33UIe.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>